:root {
    --booki-blue: #0065FC;
    --booki-light-blue: #DEEBFF;
    --booki-dark-grey: #D9D9D9;
    --booki-light-grey: #F2F2F2;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    padding: 0 50px;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}

a {
    color: #000000;
    text-decoration: none;
}

button {
    border: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.card__imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 240px;
    overflow: hidden;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__description {
    font-size: 14px;
}

.card--horizontal {
    flex-direction: row;
}

.card--horizontal .card__content {
    flex: 1;
    padding: 10px 5px 5px 15px;
}

.card--horizontal .card__imageContainer {
    width: 123px;
    height: 144px;
}

.card--horizontal .card__stars {
    margin-top: auto;
}

.card--bigPicture {
    border: none;
}

.card--bigPicture .card__imageContainer {
    width: 297.5px;
    height: 380px;
}

.card--bigPicture .card__content {
    padding: 20px 19px;
}



/* ##### BEGINNING OF THE "HEADER" PART ##### */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.brand {
    padding: 30px;
}

.nav__item {
    padding: 16px 0;
    border-top: solid 2px transparent;
}

.nav__item:hover {
    color: var(--booki-blue);
    border-top: solid 2px var(--booki-blue);
}

/* ##### END OF THE "HEADER" PART ##### */
/* ##### BEGINNING OF THE "RESEARCH_SECTION" PART ##### */

.researchSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.researchDescription__title {
    margin-bottom: 6px;
}

.researchInput {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: var(--booki-light-grey);
    border-radius: 18px;
    overflow: hidden;
}

.researchInput__icon {
    padding: 14px 16px;
    align-self: center;
}

.researchInput__input {
    padding: 15px 16px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.researchInput__input:focus {
    outline: none;
}

.researchInput__submitButton {
    padding: 15px 16px;
    color: white;
    background-color: var(--booki-blue);
    font-size: 18px;
    font-weight: bold;
}

.researchInput__submitButton:hover {
    cursor: pointer;
}

.researchFilters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.researchFilters__label {
    font-size: 18px;
    font-weight: bold;
}

.researchFilters__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border: solid 2px var(--booki-dark-grey);
    border-radius: 32px;
    font-size: 17px;
}

.researchFilters__item:hover {
    background-color: var(--booki-light-blue);
    cursor: pointer;
}

.researchFilters__itemIcon {
    color: var(--booki-blue);
}

.researchFilters__itemText {
    font-weight: bold;
}

.researchInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.researchInfo__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--booki-blue);
    border: solid 1px var(--booki-light-grey);
    border-radius: 16px;
    font-size: 10px;
}

/* ##### END OF THE "RESEARCH_SECTION" PART ##### */
/* ##### BEGINNING OF THE "RESULT_SECTION" PART ##### */

.resultSection {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.accommodationArea, .mostPopularArea {
    padding: 30px;
    background-color: var(--booki-light-grey);
    border-radius: 16px;
}

.accommodationArea {
    flex: 2.2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accommodationArea__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.accommodationArea__itemStar, .mostPopularArea__itemStar {
    color: var(--booki-light-grey);
    font-size: 14px;
}

.accommodationArea__itemStar--active, .mostPopularArea__itemStar--active {
    color: var(--booki-blue);
}

.accommodationArea__seeMore {
    font-size: 18px;
    font-weight: bold;
}

.mostPopularArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mostPopularArea__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mostPopularArea__titleIcon {
    color: var(--booki-blue);
    font-size: 16px;
}

.mostPopularArea__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mostPopularArea__item {
    width: 100%;
}

/* ##### END OF THE "RESULT_SECTION" PART ##### */
/* ##### BEGINNING OF THE "ACTIVITIES_SECTION" PART ##### */

.activitiesSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activitiesSection__container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}